#body {
  background-color: black;
}

#quienesSomos {
  font-family: "Protest Riot", sans-serif;
}

#destacados {
  font-family: "Inconsolata", monospace;
}

.col {
  font-size: 25px;
  margin: 50px 5px;
}

#contacto h3 {
  padding: 20px;
}
